* {
  box-sizing: border-box;
}
.header {
    height: 100vh;

    background-image: linear-gradient(
        to right bottom,
        #667eea,
       #764ba2
    );

    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    
  display: flex;
  justify-content: center;
  align-items: center;

}


body {
  font-family: Arial, sans-serif;
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
  height: 100vh;
  margin: 0;

}


  .login-box {
  /* background: #ffffff; */
  width: 280px;          /* smaller width */
  padding: 22px;        /* reduced padding */
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
  animation: fadeIn 0.8s ease;
  /* z-index: 2; */
   background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);

}



.login-box h2 {
  margin-bottom: 5px;
  color: #333;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  background: #667eea;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #667eea;
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: white;
}

select:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}
input,
select {
  padding: 10px;
  font-size: 10px;
}

button {
  padding: 10px;
  font-size: 12px;
}
